# Build directories
test/pcaps/wip
build/config_gen.log
build/SWIG/sdk.front.txt
build/SWIG/sdk.gen.cpp
build/SWIG/sdk.gen.h
build/SWIG/sdk_wrap.cxx
build/SWIG/sdk_wrap_modified.cpp
build/cpss_patch_done
dist/
objs/
whitemodel/shadow/
whitemodel/shadow/include/
whitemodel/gen/sc/
kernel_sandbox/xdk/
kernel/.Td
kernel/shim/.Td
kernel_sandbox/build/kflags.mk
kernel_sandbox/kflags/Module.symvers
kernel_sandbox/kflags/modules.order
kernel_sandbox/module/Module.symvers
kernel_sandbox/module/modules.order
whitemodel/devices/xp70/gen/
whitemodel/devices/xp80/gen/
whitemodel/devices/xp100/gen/
xp/fl/linkManager/aapl/aapl/configure
logs/
gdb_*
.maker_failure
generatedContents
test/sdkTest/*.cpp
testSuites/pipeline-profiles/xpDefault/apptest/mmapped.txt
appTestLogs/
build/SWIG/sdk.front.txt
build/SWIG/sdk.gen.cpp
build/SWIG/sdk.gen.h
build/SWIG/sdk_wrap.cxx
build/SWIG/sdk_wrap_modified.cpp
build/SWIG/saiShell_wrap_modified.cpp
testSuites/pipeline-profiles/xpDefault/apptest/script/cntrlPcapConfig.txt
testSuites/pipeline-profiles/xpDefault/apptest/script/pcapWm1config.txt
testSuites/pipeline-profiles/xpDefault/apptest/pcapWm1config-1-xp70.txt
testSuites/pipeline-profiles/xpDefault/apptest/pcapWm1config-2-xp70.txt
testSuites/pipeline-profiles/xpDefault/apptest/pcapWm1config.txt
testSuites/pipeline-profiles/xpDefault/apptest/core
testSuites/pipeline-profiles/xpDefault/apptest/robot_result_WM
testSuites/pipeline-profiles/xpDefault/apptest/script/pcapWm1config-1-xp70.txt
testSuites/pipeline-profiles/xpDefault/apptest/script/pcapWm1config-2-xp70.txt
whitemodel/devices/xp100/include/token.h
whitemodel/devices/xp100/include/xp_common.h

# Ignore auto generated sw code
whitemodel/gen/sc/
# Generated by preprocessing.sh (plugins/<SAI submodule>/saiShell/genScripts/ folder)
plugins/sai-src
plugins/sai/SAI/saiShell/genScripts/saiShellCWrappers
plugins/sai/SAI/saiShell/genScripts/saiShellPyWrappers
plugins/sai/SAI/xpSai/sai
html/
latex/

# File extensions
*.l[oa]
*.ko
*.ko.*
*.o
*.o.*
*.mod.*
*.d
*.db
*.i
!*.src.i
*.py[cod]
*.so
*.a
*.DS_Store
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.out
.tmp_versions
.deps
.libs
libtool
*_FILES
parents.log
*.xml


# Make dependables
SM
DBG

# Filelist.txt ignores
filelist.*.txt
!filelist.*.customer.txt
oth_filelist.*.txt
!oth_filelist.customer.txt
.setup_done
.touch

# Cscope file ignores
cscope.*
xdk/cscope/

# vim swp files
.*.swp

#emacs backup file
*~
\#*\#

# SWIG generated files
build/SWIG/*.front.txt
build/SWIG/*.gen.cpp
build/SWIG/*.gen.h
build/SWIG/*_wrap.cxx

# ctags file
tags
/cntrlPcapConfig.txt
testSuites/pipeline-profiles/xpDefault/apptest/cntrlPcapConfig.txt
testSuites/pipeline-profiles/xpDefault/apptest/pcapconfig-1.txt
testSuites/pipeline-profiles/xpDefault/apptest/pcapconfig-route.txt
testSuites/pipeline-profiles/xpDefault/apptest/pcapconfig.txt

xp/fl/linkManager/aapl/aapl/Makefile
xp/fl/linkManager/aapl/aapl/autom4te.cache/
xp/fl/linkManager/aapl/aapl/config.h
xp/fl/linkManager/aapl/aapl/config.log
xp/fl/linkManager/aapl/aapl/config.status
xp/fl/linkManager/aapl/aapl/docs/Makefile
xp/fl/linkManager/aapl/aapl/src/aapl
xp/fl/linkManager/aapl/aapl/stamp-h1
xp/fl/linkManager/aapl/aapl/src/Makefile
xp/fl/linkManager/aapl/aapl/act_mfg.am
xp/fl/linkManager/aapl/aapl/cb_weed.am
xp/fl/linkManager/aapl/aapl/cicd.am
xp/fl/linkManager/aapl/aapl/cpy_mfg.am
xp/fl/linkManager/aapl/aapl/ctags.am
xp/fl/linkManager/aapl/aapl/dist.am
xp/fl/linkManager/aapl/aapl/docs/Doxyfile
xp/fl/linkManager/aapl/aapl/ectags.am
xp/fl/linkManager/aapl/aapl/et.am
xp/fl/linkManager/aapl/aapl/namefiles.am
xp/fl/linkManager/aapl/aapl/rtags.am
xp/fl/linkManager/aapl/aapl/wd_tags.am

# AAPL
device/sdksrc/xp/fl/linkManager/aapl/aapl/configure
device/sdksrc/xp/fl/linkManager/aapl/aapl/autom4te.cache

kernel/wm_ipc_agent/.Td
kernel/xpsK_agent/.Td
build/SWIG/ksdk_wrap_modified.cpp


#CPSS
cpss/CPSS_UNZIP

#demo
demo/slanConnector/

cpss/.config
plugins/sai/sai-src










